@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #1E1E1E;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #007BFF;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #525252;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#service {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0%;
}

.form-group {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: #292929;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
}

input {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    outline: none;
    text-overflow: ellipsis;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 20px;
    height: 20px;
}

button:hover img {
    opacity: 0.8;
}

button:focus {
    outline: none;
}

/* Style pour la vue active */
.input-container input[type="text"] {
    font-weight: normal;
}

.input-container input[type="password"] {
    font-weight: bold;
    letter-spacing: 3px;
}

.form-group label {
    color: #ffffff;
}

.ServiceName{
    display: flex;
    align-items: center;
    gap: 10%;
}

.button{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15%;
}
.button button{
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}